#profile_container {
    display: flex;
    flex-direction: column;
}
/*-----------------------프로필 아이콘----------------*/
#wirAndfol {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    word-spacing: 1rem;
    flex-grow: 2;
    justify-content: space-around;
    color: #dcdcdc;
}
#profile_main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#profile_img {
    border-radius: 50%;
}

#profile_main {
    display: flex;
    align-items: center;
}

#profile_iconLv {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
    color: #dcdcdc;
}

#profile_follow {
    border-radius: 25%;
    border-style: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: #dcdcdc;
    padding: 1rem;
    font-weight: bold;
}
#profile_follow:hover {
    color: #EBFBFF;
    background-color: rgba(10, 10, 10, 0.2);
}

/*-------------------------티어--------------------*/
#tiersDiv {
    display: flex;
    flex-grow: 1;
    color: #dcdcdc;
}

.rankDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tierImg {
    width: 15rem;
    height: 15rem;
}

#tierDiv0 {
    flex-grow: 1;
}
#tierDiv1 {
    flex-grow: 1;
}


/*-----------------------마스터리---------------------*/
.masteryImg {
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}

#masteryImg0{
    width: 16rem;
    height: 16rem;
    margin: 0;
    padding: 0;
}
#masteryImg1{
    width: 13rem;
    height: 13rem;
    margin: 0;
    padding: 0;
}
#masteryImg2{
    width: 10rem;
    height: 10rem;
    margin: 0;
    padding: 0;
}

#masteryDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    coror: #dcdcdc;
}
.imgAndinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masteryInfoDiv {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masterystat {
    margin: 7rem;
    display: flex;
    flex-direction: column;
}
/*@keyframes motion {*/
/*    0% {*/
/*        margin-bottom: 5rem;*/
/*        margin-top: 5rem;*/
/*    }*/
/*    100% {*/
/*        margin-bottom: 5.5rem;*/
/*        margin-top: 5rem;*/
/*    }*/
/*}*/