#profile_container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    position: relative;
    font-family: 'BMDOHYEON';
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#blurImg {
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: -1;
    /*filter: blur(5px);*/
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 gray);
    filter: opacity(.5) drop-shadow(0 0 0 gray) blur(3px);
}


/*-----------------------프로필 아이콘----------------*/
#wirAndfol {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    word-spacing: 1rem;
    font-size: 1.3rem;
    flex-grow: 2;
    justify-content: space-around;
    color: #dcdcdc;
}
#profile_main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#profile_img {
    border-radius: 50%;
}

#profile_main {
    display: flex;
    align-items: center;
}

#profile_iconLv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 4;
    color: #dcdcdc;
}

#profile_follow {
    border-radius: 25%;
    border-style: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #dcdcdc;
    padding: 1rem;
    font-weight: bold;
}
#profile_follow:hover {
    color: #EBFBFF;
    background-color: rgba(0, 0, 0, 0.5);
}

#blurDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    -webkit-filter: blur(100px);

}

/*-------------------------티어--------------------*/
#tiersDiv {
    display: flex;
    flex-grow: 1;
    color: #dcdcdc;
}

.rankDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tierImg {
    width: 40%;
    height: 40%;
}

#tierDiv0 {
    flex-grow: 1;
    font-size: 90%;
}
#tierDiv1 {
    flex-grow: 1;
    font-size: 90%;
}


/*-----------------------마스터리---------------------*/
.masteryImg {
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    width: 50%;
    height: 50%;
    position: relative;
}

.masteryArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
#masteryImg0{
    width: 15rem;
    height: 15rem;
    margin: 0;
    padding: 0;
    border: solid 3px #fcc952;
    box-shadow: 1px 1px 15px 20px #efc251;
}
#masteryImg1{
    width: 12rem;
    height: 12rem;
    margin: 0;
    padding: 0;
    border: solid 3px #a09c9c;
    box-shadow: 1px 1px 15px 20px #b1b1b1;
}
#masteryImg2{
    width: 10rem;
    height: 10rem;
    margin: 0;
    padding: 0;
    border: solid 3px #eaa159;
    box-shadow: 1px 1px 15px 20px #ec9d59;
}

#masteryDiv {
    position: relative;
}
.imgAndinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.masteryInfoDiv {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masterystat {
    margin: 7rem;
    display: flex;
    flex-direction: column;
}

#lvAndpoint {
    width: 50%;
    font-size: 100%;
}

@media only screen and (min-width:801px) {
    .font {
        display: flex;
    }
}
@media only screen and (max-width:800px) {
    .font {
        display: none;
    }
    .mascon {
        flex-direction: column;
    }
}


.masteryImgsrc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding-top:10vh;
    z-index: -1;
    background-color: rgba(0,0,0,1);
}
.mascon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}