/*---------------스크롤바 안보이기----------------*/
body, html {
    height: 95%;
    width: 100%;
    font-family: 'BMDOHYEON';
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body::-webkit-scrollbar {
    /*display: none;*/
}

#championArea::-webkit-scrollbar {
    background: linear-gradient(10deg, #000069, #8C8CF5 60.7%, #648CFF);
}
#championArea::-webkit-scrollbar-thumb {
    /*background-color: rgb(236, 186, 108);*/
    background-image:
            linear-gradient(-55deg, transparent 10px, #4c71b5 0);
    border-radius: 10px 10px 0 0;
    /*border-style: wave inset;*/
}

/*--------------챔피언 이미지 & 챔피언 이름-----------*/
.nameAndimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.championImg {
    width: 18rem;
    height: 18rem;
    border: 1px solid black;
    margin: 1rem 1rem 0 1rem;
}
.championSkin {
    width: 25rem;
    height: 25rem;
}

/*----------------챔피언 전체 구역-----------------*/
#championArea {
    padding-top: 2.5rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}
/*-----------------ㄱ,ㄴ,ㄷ 메뉴-----------------*/
#sortMenuArea {
    display: flex;
    justify-content: space-evenly;
    height: 3%;
}

.sortMenu {
    width: 10rem;
    height: 2rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
    background-color: #90AFFF	;
}

.sortMenu:hover {
    height: 2.5rem;
    background-color: #1ea1f7;
}

.part1 {
    width: 100%;
    height:90%;
    padding-top: 10vh;
    padding-bottom: 8.8vh;
    background:
            linear-gradient(150deg, #648CFF, #8282FF 60.7%, #000069),
            linear-gradient(250deg, #6496FF, #3296FF 60.7%),
            linear-gradient(350deg, #C1AEEE, #A0A0FF 60.7%);
}