body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'BMDOHYEON';
}

body {
    background:
            linear-gradient(150deg, #648CFF, #8282FF 60.7%, #000069),
            linear-gradient(250deg, #6496FF, #3296FF 60.7%),
            linear-gradient(350deg, #C1AEEE, #A0A0FF 60.7%);
}

#chat_container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

p {
    margin: 1px;
    color: white;
}

.chating {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0;
    overflow-y: auto;
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.chating::-webkit-scrollbar {
    display: none;
}

#yourMsg {
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    margin: 0;
    padding: 0;
    /*bottom: 0;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.inputTable{
    width: 100%;
    height: 100%;
    display: flex;
}
#chatting {
    width: 80%;
    height: 100%;
}
#sendBtn{
    width: 20%;
    height: 100%;
    background-color: #3731a7;
    color: white;
}
#sendBtn i{
    font-size: 20px;
}
#sortDiv{
    width: 100%;
    height: 18%;
}
#yourName{
    display: none;
}