header {
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: #3f3f3f;
}
header .wrap_nav {display: flex; flex-direction: row; justify-content:space-between; line-height: 40px;}

/*로고*/
header .wrap_nav .logo_main {}

/*롤 메뉴*/
header .wrap_nav .menu_lol {font-family: "G마켓 산스 TTF Medium"; font-size: 18px; color: white;}

/*배그 메뉴*/
header .wrap_nav .menu_battle {font-family: "Headliner No. 45"; font-size: 22px; color: white;}

/*로그인버튼*/
header .wrap_nav .btn_login {
    font-family: "G마켓 산스 TTF Medium";
    font-size: 22px;
    color: white;
}

.btn_login a:link { color: white; text-decoration-line: none; }
.btn_login a:visited { color: white; }