body {
    /*section+100vh*/
    height: 600vh;
}
section {
    height: 500vh;
}
.before-load {
    overflow-y: hidden;
}
.sample-video {
    position: fixed;
    top: 7.2rem;
    left: 0;
    width: 100%;

}
