body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: black;
}

.before-load {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.before-load-text {
    position: fixed;
    top: 90%;
    width: 100%;
}

.sample-video {
    position: fixed;
    height: auto;
    width: 100%;
    overflow-y: hidden;
}

.before-load-btn {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.before-load-btn:hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(3, 124, 130);
}

.before-load-btn:before, .before-load-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5px;
    width: 0;
    background: #fff;
    transition: 400ms ease all;
}

.before-load-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.before-load-btn:hover:before, .before-load-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.before-load-btn a {
    text-decoration: none;
    color: #fff;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(768px, 1fr));
    height: 100vh;
    width: 100vw;
}

.img-open {
    height: 480px;
}

.img-open:hover {
    transform: scale(1.07);
    transition: transform .9s;
}

.img-closed {
    height: 480px;
}

.img-closed:hover {
    transform: scale(1.07);
    transition: transform .9s;
}

.img-items {
    overflow: hidden;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-items .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}

.img-items:hover .text {
    opacity: 1;
}

.img-items .text h1 {
    margin: 0;
    color: white;
}

.img-open:hover {
    -webkit-filter: sepia(20%);
}


.img-closed:hover {
    -webkit-filter: sepia(100%);
}

.yumi {
    width: 100%;
    float: left;
}

.mainPage4 {
    height: 100vh;
    width: 100vw;
    display: flex;

}

.main4-section1 {
    overflow: hidden;
    margin: 2%;
    display: flex;
    position: relative;
}

.main4-section1 .text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}

.main4-section1:hover .text {
    opacity: 1;
}

.main4-section1 .text h1 {
    margin: 0;
    color: white;
}

.balloon {
    position: relative;
    margin: 50px;
    width: 100%;
    height: 80%;
    background: #333333;
    border-radius: 10px;
}

.balloon:after {
    border-top: 15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}

.search-text:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-text::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-text::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-box {
    height: 40px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #ffffff;
}
.search-text {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search-btn {
    width: 50px;
    height: 100%;
    border: 0px;
    background: red;
    outline: none;
    float: right;
    color: rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    justify-content: center;
}


.lightH1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
}

.text {
    display: block;
}

span:not(.light) {
    opacity: 0;
    -webkit-animation: flashText 0.5s ease-out alternate infinite;
    animation: flashText 0.5s ease-out alternate infinite;
}

span.light {
    position: relative;
    display: inline-block;
}
span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    -webkit-animation: flash 0.5s ease-out alternate infinite;
    animation: flash 0.5s ease-out alternate infinite;
}

@-webkit-keyframes flash {
    to {
        opacity: 1;
    }
}

@keyframes flash {
    to {
        opacity: 1;
    }
}
@-webkit-keyframes flashText {
    to {
        opacity: 0.15;
    }
}
@keyframes flashText {
    to {
        opacity: 0.15;
    }
}

