html, body { margin: 0; padding:0; background-color: #FFD337; }

header, main, footer {
    display: flex; flex-direction: column;
}

main {width: 100%; height:100%; }

footer { position: absolute; bottom: 0px; height: 40px; width: 100%;}