
/* -----------------------lol.jsp------------------------------ */
.hero-content {
    height: 79.6vh;
}

.lolicon {
    position: absolute;
    left: 50%;
    margin-left: -275px;
    top: 40px;
}

#search_summoner {
    position: relative;
    width: 624px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    top: 450px;
}

#search_text {
    display: block;
    width: 100%;
    padding: 15px 150px 18px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
}

#btn_search {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #121212;
    background-image: url("/img/btn_search.png");
    width: 8%;
}
