html,body,#highest,#templete_container,section{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.hero-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}
/*---------------------태그--------------------------------*/
#tagsMenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 45px;
    background-color: rgba(13, 33, 38, 0.5);
}

.menuIcon {
    border: 1px solid black;
}

.tagselec {
    background-color: rgb(13, 33, 38);
}
/*----------------------------아이템 목록-------------------------------*/
#itemsTable {
    height: 100%;
}

#itemsArea {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 18;
    /*background-color: rgb(13, 33, 38);*/
    color: rgb(167, 120, 47);
    max-width: 70vw;
    overflow: auto;
    font-family: HangeulNuri-Bold;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/05/12/38/fuzzy-1800136__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*backdrop-filter: blur(8px);*/
    /*background-blend-mode: multiple;*/
}

#itemsArea::-webkit-scrollbar {
    display: none;
}

.itemimg {
    border-radius: 20%;
}


#itemDetail {
    flex-grow: 9;
}

.itemSpan {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;

}
.itemSpan:hover {
    background-color: rgb(8, 175, 182);
    border-radius: 20%;
    color: rgb(78, 52, 4);
}

.itemDiv3, .itemDiv2 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.1rem;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*--------------------아이템 디테일------------------------------------------*/
#itemDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-width: 30vw;
    min-width: 30vw;
    background-color: #BBD7FF;
}

.totalDiv {
    color: rgba(255, 255, 0, 1);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
}

.inimg {
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
    padding: 0;
    margin: 0;
}

.imgDiv {
    height: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #000069;
    text-shadow: 5px 5px 5px black;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    height:10%
}

.intoDiv {
    align-items: center;
    display: flex;
    height:10%;
    width: 100%;
    background-color: #B4E5FF;
    border-bottom: 1px solid dimgrey;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.intoDiv::-webkit-scrollbar {
    width: 10px;

    /*height: 10px;*/
    background-color: #B4E5FF;
}

.intoDiv::-webkit-scrollbar-thumb {
    background-color: rgb(236, 186, 108);
    /*background-image: url("https://img.icons8.com/office/50/000000/long-arrow-right.png");*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    border-radius: 10px 10px 10px 10px;
    border-style: wave inset;
}

.intoDiv > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.intoDiv > ul > li {
    float: left;
    margin:  11px 18px ;
    padding: 0;

}

.intoImg {
    border-radius: 20%;
    max-width: 64px;
    min-width: 64px;
    max-height: 64px;
    min-height: 64px;
}




