html,body,#highest,#templete_container,section{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
.hero-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

#tagsMenu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 45px;
}

.menuIcon {
    border: 1px solid black;
}

/*----------------------------아이템 목록-------------------------------*/
#itemsTable {
    height: 100%;
}

#itemsArea {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 18;
    background-color: #BBD7FF;
    max-width: 70vw;
    overflow: auto;
}

.itemimg {
    border-radius: 20%;
}


#itemDetail {
    flex-grow: 9;
}

.itemSpan {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

.itemDiv3, .itemDiv2 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.1rem;
}

/*--------------------아이템 디테일------------------------------------------*/
#itemDetail {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 30vw;
    min-width: 30vw;
}
.intoDiv {
    flex-grow: 2;
    background-color: #46AAFF;
}
.imgDiv {
    flex-grow: 10;
    background-color: rgba(0, 0, 0, 0.78);
}
.totalDiv {
    flex-grow: 1;
    color: rgba(255, 255, 0, 1);
    background-color: rgba(0, 0, 0, 0.78);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoDiv {
    flex-grow: 3;
    background-color: rgba(0, 0, 0, 0.78);
}
.statsDiv {
    flex-grow: 3;
    background-color: rgba(0, 0, 0, 0.78);
}

.inimg {
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
    padding: 0;
    margin: 0;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: #8AE634;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.intoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 7rem;
}

.intoImg {
    border-radius: 20%;
    padding-right: 0.3rem;
    max-width: 64px;
    min-width: 64px;
    max-height: 64px;
    min-height: 64px;
}


