#side_bar{
    left: -30%;
    position: absolute;
    background-color: #3f3f3f ;
    height: 92vh;
    width: 30%;
}
li{
    list-style: none;
}
#bar_content{
    position: relative;
}

#menu_slider{
    position: absolute;
    left: 0%;
    top: 50vh;
}
