#side_bar{
    left: -30%;
    position: absolute;
    background-color: #3f3f3f ;
    height: 92vh;
    width: 30%;
    transition-property: left;
    transition-duration: 1.5s;
    z-index: 999;
}

li{
    list-style: none;
}
#bar_content{
    position: relative;
}

#menu_slider{
    position: absolute;
    left: 0%;
    top: 50vh;
    transition-property: left;
    transition-duration: 1.5s;
}
