/* -------------------------------------------------------------------
 * ## go to top
 * ------------------------------------------------------------------- */
.ss-go-top {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    transition: all .8s;
    position: fixed;
    bottom: 4rem;
    right: 4.8rem;
}

.ss-go-top a {
    display: block;
    background-color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    height: 60px;
    width: 58px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    transition: all .3s;
    position: relative;
}

.ss-go-top svg {
    height: 12px;
    width: 12px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;
}

.ss-go-top svg path {
    fill: #ffffff;
}

.ss-go-top a:hover {
    background-color: #037c82;
    color: #ffffff;
}

.ss-go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
