/*-------------------------------------main------------------------------------*/
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'BMDOHYEON';
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-WERizS14lRDIP48H7OaGcWkZ9POCBEFLgw&usqp=CAU");
    background-repeat: round;
}

.alpha {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.scroll_container{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
}
.scroll_container::-webkit-scrollbar{
    display: none;
}
.scroll_item{
    display: block;
    scroll-snap-align: start;
    width: 100%;
    height:90%;
    padding-top: 10vh;
    flex: none;
    min-height: 700px;
}
/*-------------------------------------main------------------------------------*/
/*-------------------------------------preload------------------------------------*/
.loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 999;
}

.loading__wrapper .loader--text {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
}

.loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
}

/*-------------------------------------preload------------------------------------*/
/*-------------------------------------header------------------------------------*/
header {
    z-index: 100;
    min-height: 70px;
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:3;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 1);
    transition-property: top;
    transition-duration: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header-logo {
    margin: 0;
    padding: 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.header-logo a {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
}

.header-logo img {
    width: 108px;
    height: 28px;
}

@media screen and (min-width: 769px) {
    .header-logo {
        position: absolute;
        left: 7rem;
    }
    .header-nav-wrap {
        z-index: 101;
        position: absolute;
        right: 4.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu-toggle {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .header-nav-wrap {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top:10vh;
        background-color: rgba(0, 0, 0, 1);
    }

    .header-menu-toggle {
        display: flex;
        top: 25%;
        right: 4rem;
        position: fixed;
    }
}

.header-nav-item {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    width: 6.5rem;
}

.header-nav-item a {
    height: 90%;
    color: rgba(255, 255, 255, 0.8);
}

.header-nav-item:hover {
    background-color: rgba(255, 222, 90, 0.93);
    border-radius: 0.25rem;
}

.header-nav-item a:hover,
.header-nav-item a:focus {
    color: #fb8b23;
}

.header-menu-toggle i {
    position: absolute;
    font-size: 40px;
    color: white;
}


/*-------------------------------------header------------------------------------*/
/*-------------------------------------footer------------------------------------*/
footer {
    background-color: #2ac1bc;
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt_first_footer{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 12%;
    left: 10%;
}
.txt_main_footer {
    color: rgba(76, 99, 99, 0.5);
    font-family: Dialog;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
}
.txt_first_footer > div:nth-child(1) {
    width: 400px;
    top: 50px;
    left: 45%;
    z-index: 1;
}

.txt_first_footer> div:nth-child(2) {
    width: 600px;
    top: 160px;
    left: 15%;
    z-index: 1;
}

.txt_first_footer > div:nth-child(3) {
    width: 500px;
    top: 270px;
    left: 25%;
    z-index: 1;
}
.txt_center_footer {
    position: absolute;
    right: 0;
    font-size: 250px;
    bottom: 0;
    line-height: 250px;
    text-align: end;
    z-index: 1;
    color: #c8e2db;
    text-shadow: 1px 1px 5px #000000;
}
.txt_last_footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    z-index: 2;
}
strong{
    color: #c8e2db;
    font-size: 80px;
    text-shadow: 1px 1px 5px #000000;
}
.echo{
    position: absolute;
    bottom: 0;
    left: -65px;
    transform:rotate(90deg);
    transform: scaleX(-1);
    z-index: 0;
}
/*-------------------------------------footer------------------------------------*/
/*-------------------------------------sfm------------------------------------*/
/*.hero-scroll {*/
/*    display: none;*/
/*    position: absolute;*/
/*    right: 3.5rem;*/
/*    bottom: 0;*/
/*    -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);*/
/*    transform: rotate(-90deg) translate3d(100%, 50%, 0);*/
/*    -webkit-transform-origin: right bottom;*/
/*    transform-origin: right bottom;*/
/*    z-index: 1000;*/
/*    position: fixed;*/
/*}*/

/*.hero-scroll .scroll-link {*/
/*    font-family: "Montserrat", sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 9px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: .4rem;*/
/*    text-align: left;*/
/*    color: #ffffff;*/
/*    padding-left: 3rem;*/
/*    position: relative;*/
/*    transition: all 1s;*/

/*}*/

/*.hero-scroll .scroll-link:hover,*/
/*.hero-scroll .scroll-link:focus {*/
/*    color: #fb8b23;*/
/*}*/

/*.hero-scroll::before {*/
/*    display: block;*/
/*    content: "";*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    width: 2rem;*/
/*    height: 1px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: calc(50% + 2px);*/
/*}*/
/*.ss-go-top {*/
/*    z-index: 2;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    !*-webkit-transform: translate3d(0, 200%, 0);*!*/
/*    !*transform: translate3d(0, 200%, 0);*!*/
/*    transition: all .8s;*/
/*    position: fixed;*/

/*}*/
/*@media screen and (min-width: 769px) {*/
/*    .ss-go-top {*/
/*        bottom: 2rem;*/
/*        right: 1.5rem;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*    .ss-go-top {*/
/*        bottom: 2rem;*/
/*        right: 0.5rem;*/
/*    }*/
/*}*/
/*.ss-go-top a {*/
/*    display: block;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    text-decoration: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: none;*/
/*    height: 60px;*/
/*    width: 60px;*/
/*    line-height: 60px;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    color: white;*/
/*    transition: all .3s;*/
/*    position: relative;*/
/*}*/

/*.ss-go-top svg {*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    -webkit-transform: translate3d(-50%, -50%, 0);*/
/*    transform: translate3d(-50%, -50%, 0);*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/

/*.ss-go-top svg path {*/
/*    fill: #ffffff;*/
/*}*/

/*.ss-go-top a:hover {*/
/*    background-color: #037c82;*/
/*    color: #ffffff;*/
/*}*/

/*.ss-go-top.link-is-visible {*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    -webkit-transform: translate3d(0, 0, 0);*/
/*    transform: translate3d(0, 0, 0);*/
/*}*/
/*-------------------------------------sfm------------------------------------*/
