.before-load {
    overflow-y: hidden;
    overflow-x: hidden;
}

.before-load-text {
    position: fixed;
    top:95vh;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.sample-video {
    position: fixed;
    height: auto;
    width: 100%;
    overflow-y: hidden;
}
#blb_under{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sfm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    visibility: hidden;
}
.before-load-btn {
    background: rgba(0, 0, 0, 0);
    /*color: #fff;*/
    border: none;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.before-load-btn:hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(3, 124, 130);
}

.before-load-btn:before, .before-load-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5px;
    width: 0;
    background: #fff;
    transition: 400ms ease all;
}

.before-load-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.before-load-btn:hover:before, .before-load-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.before-load-btn a {
    text-decoration: none;
    color: #fff;
}

.img-container {
    height:90% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-open {
    height: 90%;
}

.img-open:hover {
    transform: scale(1.07);
    transition: transform .9s;
}

.img-closed {
   height: 90%;
}

.img-closed:hover {
    transform: scale(1.07);
    transition: transform .9s;
}

.img-items {
    overflow: hidden;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-items .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}

.img-items:hover .text {
    opacity: 1;
}

.img-items .text h1 {
    margin: 0;
    color: white;
}

.img-open:hover {
    -webkit-filter: sepia(20%);
}


.img-closed:hover {
    -webkit-filter: sepia(100%);
}


.search-text:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-text::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-text::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-box {
    height: 40px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #ffffff;
}
.search-text {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search-btn {
    width: 50px;
    height: 100%;
    border: 0px;
    background: red;
    outline: none;
    float: right;
    color: rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    justify-content: center;
}


.lightH1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0.75;
}

.text {
    display: block;
}

span:not(.light) {
    opacity: 0;
    -webkit-animation: flashText 0.5s ease-out alternate infinite;
    animation: flashText 0.5s ease-out alternate infinite;
}

span.light {
    position: relative;
    display: inline-block;
}
span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    -webkit-animation: flash 0.5s ease-out alternate infinite;
    animation: flash 0.5s ease-out alternate infinite;
}

@-webkit-keyframes flash {
    to {
        opacity: 1;
    }
}

@keyframes flash {
    to {
        opacity: 1;
    }
}
@-webkit-keyframes flashText {
    to {
        opacity: 0.15;
    }
}
@keyframes flashText {
    to {
        opacity: 0.15;
    }
}
/*####################################################################################################################*/


:root {
    --height: 50vh;
    --width: 50vw;
}

.youtube-container {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    transition: all 200ms ease;
    opacity: 0;
    pointer-events: none;
}

.carousel {
    width: var(--width);
    height: var(--height);
    position: relative;
}
.carousel .btn {
    position: absolute;
    height: calc(100% - 15%);
    width: calc(100% - 90%);
    margin: 35px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
    overflow: hidden;
}
.carousel .btn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}
.carousel .btn i {
    font-size: 1.6rem;
    color: #000;
    transition: all 400ms ease;
    opacity: 0;
}
.carousel .btn-back {
    top: 0;
    left: 0px;
}
.carousel .btn-back:before {
    border-radius: 100% 0 0 100%;
    transform: translateX(100px);
}
.carousel .btn-back .fa-arrow-left {
    transform: translateX(100px);
}
.carousel .btn-next {
    top: 0;
    right: 0px;
}
.carousel .btn-next:before {
    border-radius: 0 100% 100% 0;
    transform: translate(-100px);
}
.carousel .btn-next .fa-arrow-right {
    transform: translateX(-100px);
}
.carousel .btn .right-indicator, .carousel .btn .left-indicator {
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
}
.carousel .btn .right-indicator {
    transform: translateX(-20px);
}
.carousel .btn .left-indicator {
    transform: translateX(-5px);
}
.carousel .btn:hover:before {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.6);
    transform: translateX(0);
}
.carousel .btn:hover .fa-arrow-left, .carousel .btn:hover .fa-arrow-right {
    opacity: 1;
}
.carousel .btn:hover .fa-arrow-left {
    transform: translateX(8px);
}
.carousel .btn:hover .fa-arrow-right {
    transform: translateX(8px);
}
.carousel .btn:hover .right-indicator {
    transform: translateX(100px);
    opacity: 0;
}
.carousel .btn:hover .left-indicator {
    transform: translateX(-100px);
    opacity: 0;
}
.carousel .viewbox {
    width: calc(100% - 20%);
    height: calc(100% - 10%);
    position: relative;
    margin: 25px auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 2px 5px 10px rgba(0, 0, 0, 0.1), -2px 8px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
}
.carousel .viewbox .track {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    z-index: 2;
}
.carousel .viewbox .track .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1.09);
}
.carousel .viewbox .track .slide .images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .nav-indicator {
    position: absolute;
    bottom: -2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.carousel .nav-indicator .dot {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    transition: all 300ms ease;
}
.carousel .nav-indicator .dot.active {
    background: black;
}