/* ------------- detail 영역 ----------------*/

#detail_container {
    width: 100%;
    height: 100%;
    background-color: #2f3542;
    display: flex;
    flex-direction: column;
}

/* ------------- detail 헤더 ----------------*/

.header_detail {
    width: 100%;
    height: 80px;
    background-color: white;
}

/* ------------- detail 제목 ----------------*/

.title_detail {
    font-size: 20px;
}

/* ------------- detail 내용 ----------------*/

.content_detail {
    width: 100%;
    min-height: 500px;
    background-color: #eadbbb;
}