#alpha{
    background-color: rgba(255, 255, 255, 0.1);
}
#board_container {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(300deg,#5dc1ff 0%, #b95bff 100%);
    margin: 0;
    padding: 0;
    /*background: url("/static/img/boardlist.jpg") no-repeat top center;*/
}

#search_infos {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*background-image: linear-gradient(#49a2ff 0%, #90c5ff 50%, #49a2ff 100%);*/
}
#writebtn {
    width: 40px;
    height: 40px;
    margin: 5px;
}
#writebtn:hover {
    background-color: rgba(255,255,255,0.4);
}
#writebtn >button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 22px;
}
#searches {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}
#search_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 40px 5px 0;
}

#search_form input:first-child {
    width: 300px;
    height: 40px;
    border: solid rgba(255,255,255,0.2);
    border-radius: 3px;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.8) inset;
    margin-right: 5px;
    background-color: rgba(255,255,255,0);
}

#search_form input:last-child {
    width: 45px;
    height: 30px;
    border-width: 0 0 0 0;
    margin-left: -55px;
    background-color: rgba(255,255,255,0.6);
    color: black;
    cursor: pointer;
}

#sap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sap #orderly {
    height: 30px;
    border-width: 0 0 0 0;
}

#board_lists {
    width: 100%;
    height: 580px;
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(30px);
}

.tb_board {
    width: 100%;
    border-spacing: 0px;
}

.tb_board .fir_tr {
    height: 30px;
    font-size: 14px;
}


.tb_board .sec_tr{
    height: 20px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

.tb_board .sec_tr:hover {
    background-color: rgba(255,255,255,0.4);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

tr td:nth-child(1) {
    width: 10%;
}
tr td:nth-child(2) {
    width: 50%;
    text-align: left;
    padding-left: 5%;
}
tr td:nth-child(3) {
    width: 10%;
}
tr td:nth-child(4) {
    width: 20%;
}
tr td:nth-child(5) {
    width: 10%;
}

/* list footer */
#pagearr {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -70px;
}
