<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mlg.lol.LolMapper">
    <select id="selChampion" resultType="GetChampionEntity">
        select * from lol_champions
        where champion_no = ${champion_no}
    </select>

    <select id="getChampions" resultType="String">
        select champion_name from lol_champions
        where champion_no in
        <foreach collection="param" item="item" index="index" separator="," open="(" close=")">
            #{item.championId}
        </foreach>
    </select>

    <select id="getSpell1" resultType="String">
        select spell_name from lol_spell
        where spell_no in
        <foreach collection="param" item="item" index="index" separator="," open="(" close=")">
            #{item.spell1Id}
        </foreach>
    </select>

    <select id="getSpell2" resultType="String">
        select spell_name from lol_spell
        where spell_no in
        <foreach collection="param" item="item" index="index" separator="," open="(" close=")">
            #{item.spell2Id}
        </foreach>
    </select>
</mapper>