<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.mlg.user.UserProfileMapper">
    <select id="selUserProfileList" resultType="UserProfileEntity">
        SELECT profile_no, profile_img
        FROM mlg_user_profile
        WHERE user_no = ${user_no}
    </select>

    <insert id="insUserProfile">
        INSERT INTO mlg_user_profile
            ( user_no, profile_img )
        VALUES
            ( #{user_no}, #{profile_img} )
    </insert>
</mapper>